body
{
    background: -webkit-linear-gradient(right,#95ca3e,#95ca3e 50%,#85c638);
    color: #333;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #1e1f24;
    box-shadow:  0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

#cabecera #logo{
    width: 50px;
    vertical-align: middle;
}
#cabecera #tagline
{
    font-size: 25px;
    display: inline-flex;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post{
    background: #fff;
    padding: 1em;
}

#suscription{
    display: flex;
    align-items: center;
    justify-content: center;
}

#suscription a{
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    background: -webkit-linear-gradient(right,#95ca3e,#95ca3e 50%,#85c638);
    color: rgb(245, 245, 245);
    font-size: 20px;
}

#footer{
    background: #1e1f24;
    color: white;
    text-align: center;
    padding: 0.5em;
}